@{
    ViewBag.Title = "Welcome";
}

<div class="row">

    <div class="col-sm-12">
        <h2>Featured Makers</h2>
    </div>


    <!--Eventually move these to javascript ajax added -->
    <div class="col-md-4 col-sm-6">
        <!--Feature 1-->
        <div class="featureBox">
            <a href="profile.aspx">
                <div class="featureBoxHeader">
                    <div class="featuredAvatar">
                        <img src="images/Production/roadRunnerAvatar.png" alt="avatar" />
                    </div>
                    <h3>Road Runner</h3>
                </div>
            </a>

            <div class="featureBoxDivider"></div>
            <div class="featuredImages">
                <h4>Featured Products</h4>
                <div class="row">
                    <div class="col-xs-4">
                        <span class="featuredImghelper"></span><img src="images/Production/acmeBomb.png" />
                    </div>
                    <div class="col-xs-4">
                        <span class="featuredImghelper"></span><img src="images/Production/acmeDyna.png" />
                    </div>
                    <div class="col-xs-4">
                        <span class="featuredImghelper"></span><img src="images/Production/acmeBomb.png" />
                    </div>
                </div>
            </div>

            <div class="featureBoxDivider"></div>
            <div class="featuredLinks">
                <h4>View more!</h4>
                <div class="row">
                    <div class="featuredEtsy col-xs-4">
                        <a href="http://www.etsy.com">
                            <img src="images/Production/EtsyLogo.png" />
                        </a>
                    </div>
                    <div class="featuredFacebook col-xs-4">
                        <a href="http://www.facebook.com">
                            <img src="images/Production/FaceBookLogo.png" />
                        </a>
                    </div>
                    <div class="featuredWeb col-xs-4">
                        <a href="http://www.google.com">
                            <img src="images/Production/wwwLogo.png" alt="Visit My Webpage" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!--Feature 1-->
        <div class="featureBox">
            <div class="featureBoxHeader">
                <div class="featuredAvatar">
                    <img src="images/Production/wileyAvatar.png" alt="avatar" />
                </div>
                <h3>Wile E Coyote</h3>
            </div>

            <div class="featureBoxDivider"></div>

            <div class="featuredLinks">
                <div class="featuredEtsy">
                    <a href="http://www.etsy.com">
                        <img src="images/Production/EtsyLogo.png" />
                    </a>
                </div>
                <div class="featuredFacebook">
                    <a href="http://www.facebook.com">
                        <img src="images/Production/FaceBookLogo.png" />
                    </a>
                </div>
                <div class="featuredWeb">
                    <a href="http://www.google.com">
                        <img src="images/Production/wwwLogo.png" alt="Visit My Webpage" />
                    </a>
                </div>
            </div>

            <div class="featureBoxDivider"></div>
            <div class="featuredText">
                <p>I've got all your ACME bombs, slingshots, and catapolts ready for action!</p>
            </div>

        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!--Feature 1-->
        <div class="featureBox">
            <div class="featureBoxHeader">
                <div class="featuredAvatar">
                    <img src="images/Production/elmarAvatar.png" alt="avatar" />
                </div>
                <h3>Elmar Fudd</h3>
            </div>

            <div class="featureBoxDivider"></div>

            <div class="featuredLinks">
                <div class="featuredEtsy">
                    <a href="http://www.etsy.com">
                        <img src="images/Production/EtsyLogo.png" />
                    </a>
                </div>
                <div class="featuredFacebook">
                    <a href="http://www.facebook.com">
                        <img src="images/Production/FaceBookLogo.png" />
                    </a>
                </div>
                <div class="featuredWeb">
                    <a href="http://www.google.com">
                        <img src="images/Production/wwwLogo.png" alt="Visit My Webpage" />
                    </a>
                </div>
            </div>

            <div class="featureBoxDivider"></div>
            <div class="featuredText">
                <p>Did somebody somebody somebody somebody see a wrascly wabbit?</p>
            </div>

        </div>
    </div>

</div>